.App {
  height: 100%;

}
:root {
  --whitesmoke: rgb(216, 215, 214);
  --dark-gray: rgb(143, 143, 143);
  --charcoal: rgb(56, 56, 56);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* margin: 0 auto; */
  padding: 0 auto;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  /* color: var(--charcoal); */
  
}

.nav-container {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* color: var(--dark-gray); */
  /* position: fixed; */
  /* z-index: 1; */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.966);
}


.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.nav-item {
  list-style: none;
  text-decoration: none;
  color: black;
  transition: transform 1s ease-in-out;
}

.items-page-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Montserrat';
  /* display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 1fr 5fr; */
 
  /* flex-direction: row; */
  align-content: space-around;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.item-card-item { 
  /* height: 400px; */
   /* display: flex; */
  flex-direction: column;
  /* flex-basis: 100%; */
  /* flex: 1;  */
  justify-content: space-around;
  justify-content: space-between;
}

.item-card-name {
  display: grid;
  grid-template-columns: 5fr 5fr;
  /* grid-template-rows: 1fr 5fr; */
  justify-items: center;
  /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%; */
}

.item-card-details {
  margin: 10px;
}
.item-card-img {
  
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.edit-btn {
  margin: 5px;
}

.hero-container {
  height: 515px;
  width: 100%;
}

.hero-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

@media only screen and (min-width: 768px) {
  .hero-container {
      height: 560px;
  }
  .hero-pic {
      object-position: center;
  }

}

@media only screen and (min-width: 1200px) { 
  .hero-container {
      height: 700px;
  }
  .hero-pic {
      object-position: center;
  }
}

 /* .App-link {
  color: #61dafb;
}  */

.CartPage-title {
  font-family: 'Montserrat';
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
}

.ItemsPage aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3vmin 2vmin;
}


.OrderHistoryPage {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3vmin;
  font-size: 2vmin;
  color: black;
}

.OrderHistoryPage .section-heading {
  width: 100%
}

.OrderHistoryPage .line-item-container {
  margin-top: 3vmin;
  justify-content: flex-start;
  height: calc(100vh - 18vmin);
  width: 100%;
}

.OrderHistoryPage .total {
  width: 100%;
  display: grid;
  grid-template-columns: 18.35vw 5.75vw 5.25vw;
  padding: 1vmin 0;
  color: var(--text-light);
  border-top: .1vmin solid var(--tan-3);
}

.OrderHistoryPage .total span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  color: var(--text-dark);
}

.OrderHistoryPage .total span.right {
  display: flex;
  justify-content: flex-end;
}





